
$bottom-page-space: 10vh;

.content-container {
  padding-left: 20vw;
  padding-right: 20vw;
}

.section-container {
  margin-bottom: 30vh;
}

.project-container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  &:hover {
    border-radius: 10px;
    background-color: rgba(217,217,217, 0.1);
    cursor: default;
  }
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: $bottom-page-space;
}

.date {
  font-size: 0.8rem;
}

.footer {
  padding-bottom: $bottom-page-space;

  p {
    padding: 0;
    margin: 0;
  }
}