
$bottom-page-space: 10vh;

.section-container {
  margin-bottom: 30vh;
}

.project-container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  &:hover {
    border-radius: 10px;
    background-color: rgba(217,217,217, 0.1);
    cursor: default;
  }
}

.date {
  font-size: 0.8rem;
}

.footer {
  padding-bottom: $bottom-page-space;

  .h6:hover {
    text-decoration: underline;
  }
}

#sidebar {
  padding-bottom: $bottom-page-space;
}
