$bottom-page-pace: 10vh;

.section-container {
  margin-bottom: 30vh;
}

.date {
  font-size: 0.8rem;
}

.footer {
  margin-bottom: $bottom-page-pace;

  .h6:hover .arrow{
    transform: translate(5px, -5px);
  }
}

#left-side-container {
  padding: auto;
}
