/* reset css */
* {
  margin: 0;
  padding: 0;;
}

body {
  font-family: 'Inter';font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(51, 0, 111);
  color: rgb(217,217,217);
  font-size: 15px;
}

h1, h2, h3, h4, h5 {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
